#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container {
  display: grid;
  max-width: 80vw;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  column-gap: 1.25rem;
}

.container p {
  margin: 0;
}

.container .pokemon {
  background-clip: border-box;
  border: 0.625rem solid #ffd700;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  overflow: hidden;
  margin-bottom: 1.25rem;
  padding: 1rem;
  background: linear-gradient(to bottom right, #f16820,#fff870,#fff200,#fff870,#f16820,#fff870);
}

.container .pokemon__type {
  color: #180000;
  text-align: left;
  font-weight: 600;
  font-size: .8rem;
}

.container .pokemon__name {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.container .pokemon__name p {
  text-transform: uppercase;
  font-weight: bold;
  color: #180000;
  letter-spacing: 2px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}

.container .pokemon__name .pokemon__hp {
  letter-spacing: 1px;
  color: #f6570d;
}

.container .pokemon__image {
  margin: 0.625rem 0.3125rem;
  padding: 1.25rem;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 10px #000;;
}

.container .pokemon__image img {
  max-width: 100%;
  height: auto;
}

.container .pokemon__attacks {
  background: linear-gradient(to right, #fff315,#fffc90, #fff315);
  border: 1px solid #ffd500;
  height: fit-content;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}

.container .pokemon__attacks span {
  font-weight: 700;
  color: #180000;
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
  font-size: 0.75rem;
  word-wrap: break-word;
  text-align: center;
  line-height: 0.9375rem;
}
.container .pokemon__attacks .attacks__p {
  color: #180000;
  font-weight: 700;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  letter-spacing: 1px;
}

.container .pokemon__meta {
  margin-top: 0.3125rem;
  background: linear-gradient(to right, #fff315,#fffc90, #fff315);
  border-radius: 0.5rem;
  border: 1px solid #ffd500;
  height: fit-content;
  padding: 0.75rem;
}

.container .pokemon__meta p {
  color: #180000;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  font-weight: bold;
  font-size: .8rem;
  margin: 0;
  text-align: center;
}


